#titlescreen-wrapper {
    width: 640px;
    height: min-content;
    padding: 16px;
}
#welcome_title {
    font-size: 60px;
}
#welcome_start {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 20px;
    width: 100%;
    cursor: pointer;
}
#welcome_start p {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
#title_link {
    text-decoration: none;
    color: black;
    width: auto;
    height: auto;
    width: 40%;
}
@media only screen and (max-width: 700px) {
    #titlescreen-wrapper {
        width: 70vw;
    }
}